.features__section {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.features__hidden {
  @extend %visually-hidden;
}
.features__item {
  margin-bottom: 30px;

  @media screen and (max-width: 1199px) {
    margin-right: 30px;
    width: calc((100% - 30px) / 2);
    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;
    }
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-right: 0px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 30px;
    }
    &:last-child() {
      margin-bottom: 0px;
    }
  }
}

.features__text {
  line-height: 1.71;
}

.features__title {
  text-transform: uppercase;
  font-weight: 700;
  color: getColor('deep');
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: getColor('foreground');
  &:last-child {
    margin-right: 0px;
  }
}
.features__icon {
  max-width: 70px;
  max-height: 70px;
}
