.form__title {
  color: getColor('deep');
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}
.form__label {
  display: flex;
  color: getColor('primary');
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-top: 10px;
  flex-direction: column;
}

.form__field {
  position: relative;
  margin-top: 4px;
}

.form__icon {
  display: flex;
  position: absolute;
  top: 15px;
  left: 12px;
  fill: getColor('deep');
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  border: 1px solid getColor('deep');
  opacity: 0.2;
  border-radius: 4px;
  width: 100%;
  max-width: 370px;
  padding-left: 42px;
  box-sizing: border-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: getColor('accent');
    opacity: 1;
    color: getColor('primary');
    outline: none;
  }
  &:focus ~ .form__span,
  &:hover ~ .form__icon {
    fill: getColor('accent');
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.form__feedback {
  @extend .form__input;
  margin-top: 4px;
  padding-left: 16px;
}
.form__checkbox {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form__label-checkbox {
  display: flex;
  align-items: center;
  color: getColor('primary');
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.form__input-checkbox {
  @extend %visually-hidden;

  &:checked + .form__icons-checkbox {
    background-color: getColor('accent');
    border-color: getColor('accent');
  }
}

.form__icons-checkbox {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid getColor('deep');

  &:checked + .form__icons-checkbox {
    background-color: getColor('accent');
    border-color: getColor('accent');
  }
}

.form__icon-checkbox {
  position: absolute;
  height: 15px;
  width: 15px;
  fill: getColor('white');
}

.form__text {
  padding-left: 7px;
  font-size: 12px;
  @media screen and (min-width: 768px) {
    white-space: nowrap;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.form__link {
  color: getColor('accent');
  text-decoration: underline;
}

.form__button {
  justify-content: center;
  display: flex;
}
