.subscription {
  @media screen and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    margin-left: 93px;
  }
}

.subscription__title {
  text-transform: uppercase;
  font-weight: 700;
  color: getColor('white');
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.subscription__input {
  display: flex;
  background-color: inherit;
  justify-content: center;
  border: 1px solid #ffffff30;
  border-radius: 4px;
  width: 100%;
  max-width: 450px;
  box-sizing: border-box;
  height: 50px;
  &:hover,
  &:focus {
    color: getColor('white');
  }
  @media screen and (min-width: 768px) {
    min-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 358px;
    padding-left: 16px;
  }
}

.subscription__icon {
  fill: getColor('white');
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscription__btn {
  @extend .button__primary;
  height: 50px;
  display: flex;
  padding: 10px 29px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
    margin-top: 0px;
  }
}

.subscription__body {
  @media screen and (min-width: 768px) {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
