.tabs__hidden {
  @include visually-hidden;
}

.tabs__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.tabs__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0px;
  }
}
