body {
  background-color: getColor('white');
  color: getColor('primary');
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding: 0px;
}

input {
  padding: 8px;
  height: 40px;
}

textarea {
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  color: getColor('primary');
  opacity: 0.5;
  border: 1px solid getColor('deep');
  opacity: 0.2;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    border-color: getColor('accent');
    opacity: 1;
}
}


a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}
.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: 700;
  color: getColor('deep');
  letter-spacing: 0.03em;
}